body {
  font-family:'NunitoSans',sans-serif;
  background-color: #f7f7f7;
  color: #0A2463;
  /* margin: auto;
  width: 75%; */
}

nav {
  border-bottom: 3px solid #D8315B;
}

h1 {
  color: #D8315B;
  font-size: 2em;
  margin: auto;
  width: 90%;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 20px;
  color: #2a79a7;
}

#main {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 90%;
}

#about {
  margin: 20px 0px;
  width: 20%;
  border-right: 3px solid #D83168
}

#headshot {
  width: 90%;
}

#portfolio {
  margin: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
}

a {
  color: black;
  text-decoration: none;
}
.contact:hover {
  font-size: larger;
}

#apps {
  display: flex;
  flex-flow: wrap;
}

.app {
  margin: 0px 10px 20px 0px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.app:hover {
  box-shadow: 10px 10px 5px rgb(201, 201, 201);
}

.img {
  width: 100%;
}

.details {
  width: 90%;
  margin: auto;
  color: darkslategray;
}